<!DOCTYPE html>
<html>
  <head>
    <title>Slackr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('slack-logo.png'), :rel => 'icon', :type =>  'image/png' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:regular,italic,700,700italic" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet"> 
    <script type="text/javascript">
      window.slackrLogo = "<%= image_url('slackr.svg') %>"
      window.workImg = "<%= image_url('work_img.png') %>"
      window.iconChat = "<%= image_url('icon-1.png') %>"
      window.iconSearch = "<%= image_url('icon-2.png') %>"
      window.iconIntegration = "<%= image_url('icon-3.png') %>"
      window.iconSecurity = "<%= image_url('icon-4.png') %>"
      window.userAvatar = "<%= image_url('default-icon.png') %>"
      window.loggedInIcon = "<%= image_url('logged-in-icon.png') %>"
      window.addChannel = "<%= image_url('add-channel-icon.png') %>"
      window.userCount = "<%= image_url('user-count-icon.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
