<!DOCTYPE html>
<html>
  <head>
    <title>Slackr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.workImg = "<%= image_url('work_img.png') %>"
      window.iconChat = "<%= image_url('icon-1.png') %>"
      window.iconSearch = "<%= image_url('icon-2.png') %>"
      window.iconIntegration = "<%= image_url('icon-3.png') %>"
      window.iconSecurity = "<%= image_url('icon-4.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
